.content-nav{
    border-top: 1px solid #999999;  
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;  
   height:49px;
   background-color: #fff;
   z-index: 100;
  display: flex;
       a{
           flex: 1;
           text-align: center;
           display: flex;
           flex-direction: column;
          span{
            flex: 1
          }  
        span:first-of-type{
            font-size: 20px;
        }
        span:last-of-type{
            font-size: 12px;
            
        }
        &.active{
            color:#53cbec
           }
       
       }
    
<<<<<<< HEAD
   }
=======
   }  
//    .content-nav a:hover{
//        color:#53cbec;
//    }
>>>>>>> 89129e679176cac864831c6a3c0f5b3c0b297284
