#home{  
   .title{
     height: 76px;
     position: absolute;
     top: 0;left: 0;
     background: #0085ff;
     width: 100%;
     
   }
   .search{
      height: 87px;
      background: #0085ff;
      margin-top: 76px;
   }

}